{% extends "base.html" %}
{% load static %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Войти на сайт</title>
        <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    </head>
{% endblock head %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Войти на сайт</h1>
        </div>
        <div class="form-container">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="form__group">
                    <div class="form__label">
                        {{ form.username.label_tag }}
                    </div>
                    <div class="form__field-group">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__label">
                        {{ form.password.label_tag }}
                    </div>
                    <div class="form__field-group">
                        {{ form.password }}
                        <span class="form__error">{{ form.non_field_errors }}</span>
                    </div>
                </div>
                <div class="form__footer">
                    <button class="button button_style_blue">Войти</button>
                    <a class="form__forgot-link">Забыли пароль?</a>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
</html>
