{% extends "base.html" %}
{% load static %}
{% block title %}Изменение пароля{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block content %}
{% load user_filters %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Изменение пароля</h1>
        </div>
        {% if validlink %}
        <div class="form-container">
            <form method="post" class="form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form__group">
                    <label for='{{ field.id_for_label }}' class="form__label">
                        {{ field.label }}
                        {% if field.field.required %}
                            <span class='required'>*</span>
                        {% endif %}
                    </label>
                    <div class="form__field-group">
                        {{ field|add_class:"form__input" }}
                        {% if form.errors %}
                        {% for error in field.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                        {% endif %}
                        {% if field.help_text %}
                        <small id='{{ field.id_for_label }}-help'>
                            {{ field.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
            </form>

        </div>
        {% else %}
        <div class="custom-center-block">
          <p class="custom-text-block">Ссылка не валидна, возможно она уже была использована.</p>
            <div class="custom-button-block">
                <button onclick="location.href='{% url "reset_password" %}'" class="button button_style_blue">Сбросить пароль еще раз</button>
            </div>
        </div>
        {% endif %}
    </main>
{% endblock content %}
</html>