{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block content %}
{% load user_filters %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Сброс пароля</h1>
        </div>
        <div class="form-container">
            <form method="post" class="form">
                {% csrf_token %}
                <p class="form__info-text">
                    Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
                </p>
                <div class="form__group">
                    <label for='{{ field.id_for_label }}' class="form__label">
                        {{ form.email.label }}
                        {% if form.email.field.required %}
                            <span class='required'>*</span>
                        {% endif %}
                    </label>
                    <div class="form__field-group">
                        {{ form.email|add_class:"form__input" }}
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                        {% endif %}
                        {% if form.email.help_text %}
                        <small id='{{ field.id_for_label }}-help'>
                            {{ form.email.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
               <div class="form__footer">
                   <button class="button button_style_blue">Сбросить пароль</button>
               </div>
            </form>
        </div>
    </main>
{% endblock content %}