{% extends "base.html" %}
{% load static %}
{% block title %}Сбор пароля{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block content %}
    <main class="main container">
        <div class="custom-center-block">
                <p class="custom-text-block">Инструкция для восстановления пароля направлена на вашу почту!</p>
            <div class="custom-button-block">
                <button onclick="location.href='{% url "login" %}'" class="button button_style_blue">Перейти на страницу логина</button>
            </div>
        </div>
    </main>
{% endblock content %}