<ul class="tags">
    <li class="tags__item">
        <a id="breakfast" onclick="change_status('breakfast')" class="tags__checkbox tags__checkbox_style_orange {{ tag.breakfast }}" href="#"></a>
        <span class="tags__label">Завтрак</span>
    </li>
    <li class="tags__item">
        <a id="lunch" onclick="change_status('lunch')" class="tags__checkbox tags__checkbox_style_green {{ tag.lunch }}" href="#"></a>
        <span for="lunch" class="tags__label">Обед</span>
    </li>
    <li class="tags__item">
        <a id="dinner" onclick="change_status('dinner')" class="tags__checkbox tags__checkbox_style_purple {{ tag.dinner }}" href="#"></a>
        <span class="tags__label">Ужин</span>
    </li>
</ul>
