{% extends "base.html" %}
{% load static %}
{% block title %}Мои подписки{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">{% endblock %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Мои подписки</h1>
        </div>
        <div class="card-list">
            {% for follower in my_followers %}
            <div class="card-user" data-author="{{ follower.author.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title">{{ follower.author }}</h2>
                </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                            {% for recipe in recipes %}
                                {% if recipe.author == follower.author %}
                                <li class="card-user__item">
                                    <div class="recipe">
                                        <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image">
                                        <h3 class="recipe__title">{{ recipe.name }}</h3>
                                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                    </ul>
                </div>
                <div class="card-user__footer">
                    <button onClick="window.location.href=window.location.href" class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include "includes/pagination.html" %}
    </main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>
{% endblock content %}