{% extends "base.html" %}
{% load static %}
{% block title %}Рецепты{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block content %}
    <main class="main container">
        {% if messages %}
            <div class="alert alert-primary border text-center" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include "includes/tags.html" %}
        </div>
        <div class="card-list">
            {% include "includes/recipes.html" %}
        </div>
        {% if page.has_other_pages %}
            {% include "includes/pagination.html" with items=page paginator=paginator%}
        {% endif %}
    </main>
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/tags.js' %}"></script>
{% endblock content %}